{% extends 'base.html' %}

{% block title %}
Gestion de usuarios IM
{% endblock %}

    
    {% block contenido %}
   
    <h1>Pagina de inicio Gestion de usuarios IM</h1>
    <h2> Usuarios pendientes </h2>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha solicitid</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios%}
            <tr>
                <th scope="row"><a class="nav-link" href="{% url 'editar_usuario' usuario.id %}">{{usuario.id}}</a></th>
                <td>{{usuario.nombre}} {{usuario.apellidos}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.fecha_solcitud}}</td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<button onclick="location.href = 'solicitar_usuario/'">Solicitud de  usuario</button>
{% endblock %}
